#h1{
font-size: 100px;
text-shadow: 0 0 10px rgb(56, 56, 69);
}
.App{
  align-items: center;
  text-align: center;
  height: 80px;
  background-color: black;
  color:rgb(111, 213, 238);
  display: flex;
  justify-content:center;
}
.day{
  opacity: 0.2;
  font-size: 40px;
  font-weight: bold;
}
img{
  background-color: white;
  border-radius: 100px;
  margin-left: 10%;
}

.container {
  margin-top:10%;
  width:300px;
  height:400px;
  margin-left: 40%;
  text-align: center;
  flex: 1;
  align-items: 'center';
  justify-content: 'center';
  background-color: rgb(240, 240, 240);
  border-radius: 30px;
  border-color: 50px solid black;
  flex-direction: column;
}
.div{
  padding: 15px;
  font-family: cursive;
  font-size: 18px;
  padding-bottom: 20px;
  text-align: center;
}
.section{
  display: flex;
  flex-direction: row;
}
.temp{
  font-size: 45px;
  margin-left: 100%;
  margin-top: 10px;
  justify-content: flex-end;
  font-weight: bold;
}
.c{
  margin-left: 300%;
  font-size: 25px;
  font-weight: bold;
  opacity: 0.9;
}
.loc{
  margin-right: 60%;
  flex-direction: column;
  
}
.search{
  margin-left: 46%;
}
input{
  border-radius: 4px;
  margin-top: 2%;
}
submit{
  align-content: center;
}